<%- include("partials/header"); -%>

<div class="alert alert-danger big-heading" role="alert" >
    <h1>Weather App</h1>
</div>
<form action="/" method="post" id="form1">
    <div class="input-group">
        <input type="text" name="cityName" class="form-control" placeholder="Your City Name">
        <button type="submit"  class="btn-lg btn-success" name="sumbit" >Show
            Weather</button>
    </div>
</form>
<div class="container">
    <div class="row ">
        <div class="col">
            <img
                src="https://images.unsplash.com/photo-1525939864518-b53937989bbd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cmFpbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                src="https://images.unsplash.com/photo-1562009313-2dc966f71c3d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fHdlYXRoZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                src="https://images.unsplash.com/photo-1581038199836-c9aee2f9c58d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHdlYXRoZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
        </div>
    
           
    </div>
    <div class="row">
        <div class="col">
            <img
                src="https://images.unsplash.com/photo-1555991653-41533844cda5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fHdlYXRoZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                src="https://images.unsplash.com/photo-1498144846853-60ca2d43853b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njd8fHdlYXRoZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
                <img
                src="https://images.unsplash.com/photo-1603794742843-b1169b4c491d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHdlYXRoZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
        </div>
       
            
        </div>
    </div>
</div>



</body>

</html>